<div class="card my-5">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero dolore nostrum vel! Pariatur impedit officia reprehenderit, nihil, eligendi dolores eaque ipsa ducimus architecto voluptates quidem modi blanditiis, unde exercitationem optio.</p>
    </div>
</div>
